*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    border: none;
    outline: none;
    line-height: 1.3rem;
}
textarea:focus, input:focus{
    border: none;
    outline: none;
}


button{
    font-size: large;
    padding:1.1rem;
    cursor: pointer;
}

.header{
    padding:2% 0;
    text-align: center;
    font-size: 3rem;
    color: black;
    background-color: lightgrey;
}

.navBox{
    background-color: dimgray;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navBox li{
    list-style-type: none; /* Remove bullets */
    padding:1.2rem;
}

.navBox li:hover{
background-color: gray;
}

.navBox a {
    text-decoration: none;
}
.navBox a li {
    color:white;
    font-weight: bolder;
}

.navBox a li:hover{
    color:black;
    transition: 0.7s ease-in;
    background-color: rgba(26, 16, 1, 0.062);
}

.searchBox{
    background-color: dimgrey;
    padding:1.5rem;
    text-align: center;
    
}

.searchBox input{
    width: 200px;
    height: 2rem;
    margin-right: 1rem;
    border-radius: 5%;
    border: 1px solid lightgray;
}


/* .searchBox input textarea:focus, input:focus{
    outline: none;
} */

.moviesBox{
    display: flex;
    justify-content: center;
    margin: 1.5rem;
}

/* appear hover */

.appearHover{
    position: relative;
}

.imageDesc{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 300px;
    /* left: 0;
    right: 0; */
    background: rgba(32, 33, 34, 0.80);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s, visibility .5s;
    /* margin: 0 2rem; */
}

.imageDesc h3, h4{
    margin:0 10%
}

.appearHover:hover .imageDesc{
    visibility: visible;
    opacity: 1;
}

.spacePtag{
    margin: 10% 0;
}

/* end */

.moviesBox h1{
    text-align: center;
}

.pagingBox{
    padding:1.5rem;
    display: flex;
    justify-content: center;
}

.loadButton{
    text-align: center;
}

.footer{
    margin-top: 1.4rem;
    padding:3rem;
    text-align: center;
    font-size: 2rem;
    color: rgb(1, 13, 17);
    background-color:lightgray;
}

.footerReserved{
    font-size: 1.3rem;
    padding-top:3%;
}

@media only screen and (max-width: 760px) {
    .img{
        width: 140px; 
        height: 140px;
    }
    .header{
        font-size: 2rem;
    }
    .footer{
        padding:2rem;
        font-size: 1.2rem;
    }
    .footerReserved{
        font-size: 1rem;
        padding-top:3%;
    }
}